.about {
  background-color: #fff;
  width: 100%;
  padding: 8rem 0;

  .containerAbout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;

    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      text-align: center;
    }

    .imageSide {
      display: flex;

      @media (max-width: 900px) {
        justify-content: center;
        margin-bottom: 2rem;
      }

      .mainImg {
        border-radius: 1.7rem;
        width: 80%;
      }
    }

    .textSide {
      h4 {
        color: #147efb;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-transform: uppercase;
      }

      h3 {
        color: #2d2e32;
        font-size: 2rem;
        line-height: 1.4;
        margin-bottom: 2rem;
      }

      p {
        color: #767676;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.5;
      }
    }
  }
}
